body{
    background-image: url("images/CERN.png");
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#navbar{
    display: grid;
    background-color: #ffffff;
    margin: 0;
    line-height: 3rem;
    font-size: 1.2rem;
    max-width: 11rem;
    border-radius: 1rem;
    padding-left: 1.2rem;
    padding-right: 0.9rem;
    z-index: 1;
}
#navbar a{
    color: #0033A0;
    text-decoration: none;
}
.about{
    width: 100%;
    color: #0033A0;
    background-color: #ffffff;
    border-radius: 1rem;
}
.about h1{
    text-align: center;
    font-size: 2.7rem;
}