html{
    background-color: rgb(54, 54, 54);
    font-family: 'Lato', sans-serif;
}
.heading{
    text-align: center;
    background-image: url("bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 33rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.title{
    font-size: 1.8rem;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 215, 160);
    border-radius: 10px;
}

.info{
    font-size: 1.3rem;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 215, 160);
    border-radius: 10px;
    padding: 0.6rem 1.2rem;
    line-height: 2rem;
}

.links{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.links:hover{
    color: brown;
}
.Nav{
    position: fixed;
    right: 0;
    top: 20%;
    line-height: 48px;
    background-color:rgb(54, 54, 54);
    border-radius: 10px;
    padding: 20px;
    color: rgb(255, 215, 160);
}

.scroll{
    text-decoration: none;
    color: rgb(255, 215, 160);
}